<ul class="off-canvas-list">
	<li><label>Ir al inicio</label></li>
	<li><a href="/">Home</a></li>
	<li><label>Ver un sistema</label></li>
	<li class="has-submenu"><a href="#">Criptosistemas Clásicos</a>
		<ul class="left-submenu">
			<li class="back"><a href="#">Back</a></li>
			<li><a href="/ver/desplazamiento">Sistema de Desplazamiento</a></li>
			<li><a href="/ver/sustitucion">Sistema de Sustitución</a></li>
			<li><a href="/ver/afin">Sistema Afín</a></li>
			<li><a href="/ver/vigenere">Sistema Vigenere</a></li>
			<li><a href="/ver/hill">Sistema de Hill</a></li>
		</ul>
	</li>
	<li class="has-submenu"><a href="#">Criptosistemas en Bloque</a>
		<ul class="left-submenu">
			<li class="back"><a href="#">Back</a></li>
			<li><a href="/ver/des-simplificado">DES Simplificado (DES-S)</a></li>
			<li><a href="/ver/des">DES</a></li>
		</ul>
	</li>
	<li><label>Atacar un sistema/Criptoanálisis</label></li>
	<li class="has-submenu"><a href="#">Criptosistemas Clásicos</a>
		<ul class="left-submenu">
			<li class="back"><a href="#">Back</a></li>
			<li><a href="/atacar/desplazamiento">Sistema de Desplazamiento</a></li>
			<li><a href="/atacar/afin">Sistema Afín</a></li>
			<li><a href="/atacar/vigenere">Sistema Vigenere</a></li>
		</ul>
	</li>
</ul>