<ul class="off-canvas-list">
	<li><label>Ir al inicio</label></li>
	<li><a href="/">Home</a></li>
	<li><label>Ver un sistema</label></li>
	<li><a href="/ver/desplazamiento">Sistema de Desplazamiento</a></li>
	<li><a href="/ver/sustitucion">Sistema de Sustitución</a></li>
	<li><a href="/ver/afin">Sistema Afín</a></li>
	<li><a href="/ver/vigenere">Sistema Vigenere</a></li>
	<li><a href="/ver/hill">Sistema de Hill</a></li>
	<li><label>Atacar un sistema</label></li>
	<li><a href="/atacar/desplazamiento">Sistema de Desplazamiento</a></li>
	<li><a href="/atacar/afin">Sistema Afín</a></li>
	<li><a href="/atacar/vigenere">Sistema Vigenere</a></li>
</ul>